#edit:hover img {
  content: url('/edit-hover.svg');
}
  
#delete:hover img {
  content: url('/delete-hover.svg');
}

.bookpage-btn {
  background-color: #231d36;
  color: white;
  flex-grow: 1;

  max-width: 275px;
}