.btn-row {
  display: flex;
  gap: 10px;
}

.modal p {
  color: white;
  text-align: start;
}

.danger {
  background-color: #e25858 !important;
}

.modal .bookpage-btn {
  max-width: none;
}

.modal-input:focus {
  border: 1px solid #5e60ce;
}

.modalForm .add-book {
  width: 100%;
  max-width: none;
  margin-bottom: 0;
}
