@font-face {
  font-family: "Montserrat";
  src: url(/Montserrat-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

:root {
  --book-radius: 10px;
  --dark-green: #1D3630;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;
}

#root {
  font-family: "Montserrat", Inter, system-ui;

  text-align: center;
}

body {
  background-color: #191919;
}

header {
  padding: 50px 0;
  background-color: #0d0d0d;

  display: flex;
  gap: 10px;

  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
}

.header-logo {
  width: 40px;
  height: auto;
}

.main {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;

  padding: 50px 0;
}

.book-status, .book-link, .bookpage-btn {
  padding: 10px 0;
  border-radius: 8px;
  font-size: 15px;

  width: 100%;
}

.book-status {
  background-color: #ff9b9b;
  color: black;
}

.available {
  background-color: var(--dark-green);
  color: white;
}
