.book-row {
  display: flex;
  gap: 5px;

  width: 100%;
}

.book-row img {
  width: 20px;
}

.book-row button {
  border-radius: var(--book-radius);

  width: 50px;
}
  
.book-link {
  background-color: #322922;
  color: white;

  text-decoration: none;
}