.book-row {
  display: flex;
  gap: 5px;

  width: 100%;
}

.book-row img {
  width: 20px;
}

.book-row button {
  border-radius: var(--book-radius);
  border: 0;

  background-color: var(--gray-200);

  width: 50px;
}

.favorite {
  background-color: #ffdd2d !important;
}
  
.book-link {
  border: 0;
  background-color: #322922;
  color: white;

  text-decoration: none;
}